<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>codebreaker:highscore</title>

    <!-- Bootstrap -->
    <link href="stylesheets/bootstrap.min.css" rel="stylesheet">

  </head>
  <body>
    <div class="row">
      <div class="col-md-4"></div>
      <div class="col-md-4 text-center">
        <table class="table table-condensed">
          <h3>Hight Score</h3>
          <tr>
            <th class="text-center">#</th>
            <th class="text-center">Player</th>
            <th class="text-center">Attempts</th>
            <th class="text-center">Hints left</th>
            <th class="text-center">Score</th>
            <th class="text-center">Date</th>
          </tr>
          <% @score_level = 0 %>
          <% @request.session[:score].each do |s| %>
          <tr>
            <td><%= @score_level += 1 %></td>
            <td><%= s[:name] %></td>
            <td><%= Codebreaker::Game::ATTEMPTS - s[:attempts_left]%></td>
            <td><%= s[:hints_left] %></td>
            <td><%= s[:score] %></td>
            <td><%= s[:win_date] %></td>
          </tr>
          <% end %>
        </table>
          <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-4">
              <form method="post" action="/start_game">
                <button type="submit" class="btn btn-danger" autofocus>restart</button>
              </form>
            </div>
            <div class="col-md-4"></div>
          </div>
      </div>
      <div class="col-md-4"></div>
    </div>
  </body>
</html>