<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>codebreaker</title>

    <!-- Bootstrap -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <style>.form-control{display: inline;}</style>

  </head>
  <body>
    <div class="container">

      <div class="modal fade bs-rules-modal-sm" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel">
        <div class="modal-dialog modal-sm">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              <h4 class="modal-title" id="gridSystemModalLabel">Introducing Codebreaker</h4>
            </div>
            <div class="modal-body">
              <p>Codebreaker is a logic game in which a code-breaker tries to break a secret code created by a code-maker. The code-maker, which will be played by the application we’re going to write, creates a secret code of four numbers between 1 and 6.</p>
              <p>The code-breaker then gets some number of chances to break the code. In each turn, the code-breaker makes a guess of four numbers. The code-maker then marks the guess with up to four + and - signs.</p>
              <p>A + indicates an exact match: one of the numbers in the guess is the same as one of the numbers in the secret code and in the same position.</p>
              <p>A - indicates a number match: one of the numbers in the guess is the same as one of the numbers in the secret code but in a different position.</p>
            </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-4"></div>
        <div class="col-sm-4">

          <div class="col-sm-4 col-xs-4 text-center">
            <h5>
              <a href="/high_score">
                Score:<%= game.score %>
              </a>
            </h5>
          </div>
          <div class="col-sm-4 col-sm-4 col-xs-4 text-center">
              <h5><span class="glyphicon glyphicon-info-sign" aria-hidden="true" data-toggle="modal" data-target=".bs-rules-modal-sm"></span></h5>
          </div>
          <div class="col-sm-4 col-xs-4 text-center">
            <h5>
              Hint:<%= @request.session[:hint].join %>
            </h5>
          </div>

          <form id="guess" method="post" action="/guessing">
            <input id="guess_input" maxlength="4" name="suggest" type="text" pattern='[1-6]{4}' class="form-control text-center" placeholder="<%= game.attempts %> attempts | <%= game.hint_count %> hints" title="It must be a four numbers, or be 1, 2, 3, 4, 5, 6" autofocus required>
          </form>
          <form id="restart" method="post" action="/start_game"></form>
          <form id="hint" method="post" action="/hint"></form>

          <div id="numPad">
            <div class="btn-group btn-group-justified" role="group" aria-label="123">
              <div class="btn-group" role="group">
                <button type="button" class="btn btn-default">1</button>
              </div>
              <div class="btn-group" role="group">
                <button type="button" class="btn btn-default">2</button>
              </div>
              <div class="btn-group" role="group">
                <button type="button" class="btn btn-default">3</button>
              </div>
            </div>
            <div class="btn-group btn-group-justified" role="group" aria-label="456">
              <div class="btn-group" role="group">
                <button type="button" class="btn btn-default">4</button>
              </div>
              <div class="btn-group" role="group">
                <button type="button" class="btn btn-default">5</button>
              </div>
              <div class="btn-group" role="group">
                <button type="button" class="btn btn-default">6</button>
              </div>
            </div>
          </div>
            <div class="btn-group btn-group-justified" role="group" aria-label="CLR/DEL">
              <div class="btn-group" role="group">
                <button id="numClr" type="button" class="btn btn-default">CLR</button>
              </div>
              <div class="btn-group" role="group">
                <button id="numDel" type="button" class="btn btn-default">DEL</button>
              </div>
            </div>

          <div class="btn-group btn-group-justified" role="group" aria-label="action">
            <div class="btn-group" role="group">
              <button type="submit" class="btn btn-danger" form="restart">restart</button>
            </div>
            <div class="btn-group" role="group">
              <button type="submit" class="btn btn-warning" form="hint">  hint   </button>
            </div>
            <div class="btn-group" role="group">
              <button type="submit" class="btn btn-success" form="guess"> guess  </button>
            </div>
          </div>

          <% if error %>
            <div class="alert alert-danger text-center" role="alert">
              <%= error %>
            </div>
          <% end %>

          <table class="table table-condensed text-center">
            <% @request.session[:marks].each do |i| %>
              <tr>
                <td class="col-xs-6 col-md-4"> <%= i[0] %></td>
                <td class="col-xs-6 col-md-4"> <%= i[1] %></td>
              </tr>
            <% end %>
          </table>

        </div>
        <div class="col-sm-4"></div>
      </div>
    </div>
    
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
   <script src="js/bootstrap.min.js"></script>

    <script>

    $('#numPad button').click(function() {
        var value = $(this).text();
        var input = $('#guess_input');
        input.val(input.val() + value);
        return false;
    });

    $('#numClr').click(function() {
        var value = $(this).text();
        var input = $('#guess_input');
        input.val('');
        return false;
    });

    $('#numDel').click(function() {
        var str = $('#guess_input').val();
        $('#guess_input').val(str.substring(0, str.length - 1));
        return false;
    });
    </script>

  </body>
</html>